body{
	background-image:url(../images/background.png);
}

h1{
	font-style: bold;
	text-align: center;
	/*background-color: #00838f;*/
}

input{
	color: #88034f;
	background-color: ; 
}

p{
	color: #fff;
	font-size: 16px;
}


#masthead {
	font-size: 5em;
	font-family: 'Berkshire Swash', cursive;
	background-color: #fff;
	padding: .5em .5em .5em .5em;
	border-style: solid;
	border-width: medium;
	border-color: #111;
	margin-top: 1em;
}

.emotion{
	color: #fff;
	background: #88034f;
	padding: 1em;
	margin: 1em;
}
